body {
	color: white;
	background-color: #28a2f5;
	font-family: Verdana, Tahoma, sans-serif;
}
hr {
	color: white;
}
#main-container {
	display: flex;
	justify-content: center;
}

#content {
	display: flex;
	box-shadow: 10px 10px 5px grey;
}

#main-head {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 650px;
	background-color: #302e31;
	box-shadow: 10px 10px 5px grey;
}

#left-bar {
	width: 30%;
	background-color: #0c3c6a;
	padding-left: 30px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#main-content {
	width: 70%;
	background-color: #195f9d;
}

.photo {
	width: 100px;
	height: auto;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 20%;
}

.contact {
	font-size: small;
}

.education-details {
	font-size: small;
}

.profile {
	display: flex;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
}

.icon {
	margin-right: 10px;
}

.content {
	max-width: fit-content;
}
